<ion-view view-title="Fitnessplan">
  <ion-content>
    <div class="row">
      <div class="col">Repeats 1</div>
      <div class="col">Repeats 2</div>
      <div class="col">Repeats 3</div>
    </div>
    <div class="row">
      <div class="col">{{lastRepeats1}}</div>
      <div class="col">{{lastRepeats2}}</div>
      <div class="col">{{lastRepeats3}}</div>
    </div>
    <div class="row">
      <div class="col">Weight 1</div>
      <div class="col">Weight 2</div>
      <div class="col">Weight 3</div>
    </div>
    <div class="row">
      <div class="col">{{lastWeight1}}</div>
      <div class="col">{{lastWeight2}}</div>
      <div class="col">{{lastWeight3}}</div>
    </div>
    <div class="row">
      <div class="col" style="background-color: #222222"></div>
    </div>
    <div class="row">
      <div class="col">Repeats 1</div>
      <div class="col">Repeats 2</div>
      <div class="col">Repeats 3</div>
    </div>
    <div class="row">
      <div class="col"><input type="text"/></div>
      <div class="col"><input type="text"/></div>
      <div class="col"><input type="text"/></div>
    </div>
    <div class="row">
      <div class="col">Weight 1</div>
      <div class="col">Weight 2</div>
      <div class="col">Weight 3</div>
    </div>
    <div class="row">
      <div class="col"><input type="text"/></div>
      <div class="col"><input type="text"/></div>
      <div class="col"><input type="text"/></div>
    </div>
    <button class="button button-block button-positive" ng-click="saveNewInput()">
      Save
    </button>
  </ion-content>
</ion-view>
